body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

label {
    display: flex;
    flex-direction: column;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    color: red;
    text-align: center;
}